<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:sharedUserId="android.uid.system"
    package="com.slzr.slmanager">
    <!--    android:sharedUserId="android.uid.system"-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--android:permission="app.custom.permission"-->

        <service
            android:name=".TimeService"
            android:process=":remote"
            android:enabled="true"
            android:exported="true">
<!--            //三个属性缺一不可-->
            <intent-filter>
                <action android:name="android.intent.action.START_B_SERVICE" />
<!--                //action名字自定义,建议是xx.xx.xx形式-->
            </intent-filter>

        </service>
    </application>

</manifest>